/* styles.css */

/* Add margin to all radio buttons in the first column's radio group */
/*div[data-testid='column']:nth-child(1) div.stRadio > div[role='radiogroup'] > label {
    margin-bottom: 60px !important;
}
*/

/* Column borders */
.blue-border {
    border: 2px solid blue;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

.red-border {
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

.green-border {
    border: 2px solid green;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}